<div class="side-bar">
  <!-- logo -->
  <div
    class="h-[var(--height-header)] flex justify-end bg-[linear-gradient(to_right,var(--primary-color),var(--secondary-color))] p-3"
  >
    <img
      class="h-full w-auto rounded"
      src="https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr"
      alt="logo"
      routerLink="/"
    />
  </div>

  <!-- menu -->
  <div class="bg-[var(--background-menu)] h-[calc(100%_-_var(--height-header))] pt-4 text-[var(--color-light)] font-semibold overflow-y-auto">
    <ng-container *ngTemplateOutlet="renderMenu, context: { $implicit: MENU, level: 1} "></ng-container>
  </div>
</div>

<ng-template #renderMenu let-menu let-level="level">
  <ul>
    <ng-container *ngFor="let item of menu">
      <ng-container *ngIf="item.hasChildren; else noSubmenu">
        <li
          class="relative flex flex-col justify-items-center cursor-pointer select-none"
          (click)="item.isActive = !item.isActive"
        >
          <span
            class="block pr-5 hover:bg-[var(--background-hover)] py-1"
            [style]="'padding-left: ' + level * 14 + 'px'"
          >
            {{ item.label | translate }}
          </span>
          <span
            *ngIf="item.hasChildren"
            class="leading-[12px] absolute right-5"
          >
            <span
              nz-icon
              nzType="right"
              nzTheme="outline"
              class="icon-toggle-menu"
              [style]="{transform: item.isActive ? 'rotateZ(90deg)' : 'rotateZ(0)'}"
            ></span>
          </span>

          <ng-container *ngIf="item.hasChildren && item.isActive">
            <ng-container
              *ngTemplateOutlet="renderMenu, context: { $implicit: item.children, level: level + 1} "
            ></ng-container>
          </ng-container>
        </li>
      </ng-container>

      <ng-template #noSubmenu>
        <li
          class="py-1 pr-5 relative flex items-center cursor-pointer hover:bg-[var(--background-hover)] select-none"
          [style]="'padding-left: ' + level * 14 + 'px'"
          [routerLink]="item.route"
          (click)="item.isActive = !item.isActive"
        >
          <span>{{ item.label | translate }}</span>
        </li>
      </ng-template>
    </ng-container>
  </ul>
</ng-template>
