<div class="flex bg-[var(--background)]">
  <div [style]="{ left: isOpenSidebar ? 0 : '-270px' }" class="fixed z-[9999] w-[270px] transition-all duration-300">
    <app-sidebar [isOpenSidebar]="isOpenSidebar"></app-sidebar>
  </div>

  <div [style]="{ 'margin-left': isOpenSidebar ? '270px' : 0 }" class="relative flex-1 transition-all duration-300">
    <app-header [(isOpenSidebar)]="isOpenSidebar"></app-header>
    <div class="p-[90px_30px_30px_30px] min-h-[100vh]">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
