:root {
  --primary-color: #0e6661;
  --secondary-color: #2db182;
  --height-header: 60px;
  --background-menu: #1d2836;
  --background-hover: rgba(247,248,252,.08);
  --color-light: rgba(247,248,252,.8);
  --border-color: #dee2e6;
  --background: #f7f8fc;
  --main-background: #fff;
}
